*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}

.box:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.5;
}

.red{
    background-color: rgb(180, 16, 16);
}

.blue{
    background-color: rgb(11, 11, 166);
}

.green{
    background-color: rgb(5, 99, 5);
}